{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container" style="margin-top: 30pt;">
    <h2 style="margin-bottom: 15pt;">Calculateur de code</h2>
    <!--    muh form-->
    <form action="/" method="POST" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="dec_number">Entrez le numéro</label>
            <div class="input-group">
                <div class="input-group-text">&#8984;</div>
                <input type="text" class="form-control" id="dec_number" name="dec_number"
                       placeholder="Entrez le numéro">
            </div>
        </div>

        <div class="col-12">
             <input type="submit" class="btn btn-primary btn-sm" value="Calculer">
        </div>

    </form>
</div>
{% endblock %}

